<div class="profile-image text-center mb-4">
  <img class="img-responsive img-fluid" src="assets/images/carlos.jpeg">
</div>
<div class="profile-info text-center">
  <h4 class="mb-3">Carlos Barrera</h4>
  <div class="profile-job-title mb-2">Front end developer <br></div>
  <div class="profile-contact mb-1">
      <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:carlos.barrera@outlook.com">carlos.barrera@outlook.com</a>
  </div>
  <div class="profile-contact mb-3">
      <i class="fa fa-mobile"></i>&nbsp;&nbsp;55 6706 5737
  </div>
</div>
<div class="profile-summary">
  I'm a professional front-end web developer with over 10 years of experience working with international clients. An enthusiastic about data and visualization, who enjoys working with multidisciplinary teams for solving problems and improving digital products.
</div>