<div class="mt-5">
  <h2 class="mb-3">What is the IPC?</h2>
  <p>The Consumer Price Index is a measure of the average change over time in the prices paid by urban consumers for a market basket of consumer goods and services.</p>

  <p>Mexican Consumer Price Index (Local name: IPC - Índice de Precios al Consumidor) data at this website is provided by Grupo Bursátil Mexicano and can be found in this <a href="https://www.gbm.com.mx/Mercados/ObtenerDatosGrafico?empresa=IPC" target="_blank">link</a>.</p>
  
  <p>What is the CPI or IPC? Before jumping into the data, if you want to learn about the Mexican Consumer Price Index you can <a href="https://www.bmv.com.mx/es/grupo-bmv/glosario" target="_blank">read this IPC definition (Spanish version)</a>.</p>
</div>
